/logs/
/eval/ASR_whisper/examples/chime4/
/eval/ASR_whisper/examples/realman/
/eval/ASR_whisper/examples/wenetspeech/
/*/__pycache__/
/examples/
/README.pdf
*.pyc
/transform_flac_to_wav.py
/model/TCN_SA/magTCNDrectAttSmooth.py
/trainer_inferencer/base_trainer.py
/trainer_inferencer/trainer.py
/train.py